version: "3.7"

services:
  mysql:
    image: mysql:5.7
    hostname: mysql
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: estoque
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_USER: admin