version: "3.7"

services:
  mysql:
    image: mysql:5.7
    hostname: mysql
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: estoque
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_USER: admin
    volumes:
      - mysql_data:/var/lib/mysql
volumes:
  mysql_data:
    driver: local
